h2::first-line{
    color: #38E54D;
    background-color: #e33e98;
    border: 4 outset #FF74B1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
